* {
 font-family: 'Roboto', sans-serif;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9abcf4;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon {
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 30px;
}

.userview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #dee8f9;
}

.buyerview {
  display: flex;
  justify-content: space-between;
}

.sellerview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
